<!DOCTYPE html>
<html lang="en">

<% include header %>

<body class="container align-content-center" style="background-color: #ebe7e7">
<%include navbar %>

<nav class="container align-content-center" style="float: left; align-content: left; width: 75%; background-color: #ffffff;margin-right: 1%">

    <div class="container align-content-center" style="align-content: center; width: 75%">
        <br>
        <div class="row align-content-center container" style="align-content: center;max-width: 35%;height: auto;margin: auto">
            <img src="public/profile.png" style="align-content: center" class="rounded-circle">
        </div>
        <div class="col" style="text-align: center">
            <br>
        방문해 주셔셔 감사합니다! 안녕하세요 Jay입니다.<br>
        저는 복수전공으로 컴퓨터공학을 공부하고 있으며,<br>
        공부한 언어는 C / C++ / JAVA / Android / JSP / JS / Node.JS / UnrealEngine4 를 공부했었습니다.<br>
        이 블로그는 제가 복수전공을 시작하던 2017년 봄을 기점으로 노트, 팁, 문제들을 보관했던 자료들을 한번 더 정리하여 올리기 위해 만들었습니다.<br>
        물론 직접 블로그를 만들어보고싶었던 작은 소망도 있었구요!<br>
        다시한번 감사인사를 드리며, 부디 이곳에서 찾으시는 정보를 얻을 수 있기를 진심으로 바랍니다.<br>
        <br><br>
        Thank you for visiting! Hi, it's Jay.<br>
        I'm studying computer engineering with a double major,<br>
        and I studied C / C ++ / JAVA / Android / JSP / JS / Node.JS / UnrealEngine4.<br>
        This blog was created to put together a collection of my notes, tips, and issues from spring 2017 when I started my double major.<br>
        Of course I had a small wish to make a my own blog!<br>
        Thank you again, and I sincerely hope you will find the information you are looking for here.<br>
        <br><br>
            <a href="mailto:juicycool92@gmail.com"> Contect me</a>
        <br><br>
        </div>
    </div>

</nav>

<% include rightnavbar %>

<nav class="container align-content-center" style="float: right; align-content: center; width: 100%; height: 200px;background-color: #9fcdff">
    <!-- footer -->
footer
</nav>
	
</body>
<%include footer%>
</html>