<!DOCTYPE html>
<html lang="en">
<% include header %>
<body class="container align-content-center" style="background-color: #ebe7e7">
<%include navbar %>
<div class="row">
    <nav class="col-lg-9 col-md-12 container align-content-center lesspadding-right-mainnav " style="" id="mainNav">
        <div class="row col-12 align-content-center margin-maindiv margin-heavy-context">
           <!-- main content start inside of this line --> 
            <div class="row col-12 align-content-center container margin-heavy-topbottom" style="align-content: center;max-width: 35%;height: auto;margin: auto">
                <img src="public/profile.png" style="align-content: center" class="rounded-circle">
            </div>
        </div>  
        <div class="row col-12  align-content-center text-center  margin-maindiv text-align=center">
            <p class="text-center margin-lesspadding">
                방문해 주셔셔 감사합니다! 안녕하세요 Jay입니다.<br>
                저는 복수전공으로 컴퓨터공학을 공부하고 있으며,<br>
                공부한 언어는 C / C++ / JAVA / Android / JSP / JS / Node.JS / UnrealEngine4 를 공부했었습니다.<br>
                이 블로그는 제가 복수전공을 시작하던 2017년 봄을 기점으로 노트, 팁, 문제들을 보관했던 자료들을 한번 더 정리하여 올리기 위해 만들었습니다.<br>
                물론 직접 블로그를 만들어보고싶었던 작은 소망도 있었구요!<br>
                다시한번 감사인사를 드리며, 부디 이곳에서 찾으시는 정보를 얻을 수 있기를 진심으로 바랍니다.<br>
            </p>
            <p class="text-center margin-lesspadding">
                Thank you for visiting! Hi, it's Jay.<br>
                I'm studying computer engineering with a double major,<br>
                and I studied C / C ++ / JAVA / Android / JSP / JS / Node.JS / UnrealEngine4.<br>
                This blog was created to put together a collection of my notes, tips, and issues from spring 2017 when I started my double major.<br>
                Of course I had a small wish to make a my own blog!<br>
                Thank you again, and I sincerely hope you will find the information you are looking for here.<br>
            </p>
            <p class=" col-12 text text-center margin-lesspadding">
                <a href="mailto:juicycool92@gmail.com">Contect me via Email</a>
            </p>
        </div>
    </nav>
    <% include rightnavbar %>
</div>
<%include footer%>	
</html>