<div class="row">
        <div id="footerNav" class="col-md-12 lesspadding-top-footer">
                <p class="text-align-right">
                        Created by JelloJay<br>
                        Date : 2018-04-23<br> 
                        Version : 1.0.0<br>
                        Contect : juicycool92@gmail.com<br>
                </p>
        </div>
</div>
</body>
