<head>
    <meta charset="UTF-8">
    <title>Jay's Roasted brain</title>
    <link rel="stylesheet" href="/css/the-modal.css" media="all"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="css/jquery-dateFormat.min.js"></script>
    <script src="css/jquery-dateFormat.js"></script>
    <script src="css/dateFormat.js"></script>
    <script type="text/javascript" src="/js/jquery.the-modal.js"></script>

</head>