<!DOCTYPE html>
<html lang="en">
<% include header %>
<body class="container align-content-center" style="background-color: #ebe7e7">
<%include navbar %>


<div class="row">
    <nav class="col-md-9 com-xs-12 container align-content-center lesspadding-right-mainnav " style="" id="mainNav">
        <div class="row align-content-center margin-maindiv" style="">
            <div class="row col-12"> 
                <h1><a class="font-weight-bold" href="#">Hot Topic</a></h1>
            </div>
            <!-- Hot topic row start -->
            <div class="col-12 col-md-6 nopadding-left-card">
                <!-- hot topic col1 -->
                <div class="row-auto card box-shadow">
                    <div class="row col-12">
                        <!--title here -->
                        title here
                    </div>
                    <div class="row col-12">
                        <!-- sub title here -->
                        sub title here
                    </div>
                    <div class="row">
                        <div class="col-6 media">
                            <!-- img here -->
                            <img class="img-thumbnail img-responsive d-md-block" style="" src="public/indexLogo.png" >
                        </div>
                        <div class="col-6">
                            <!-- context here -->    
                            this is context area <br> context here <br> context here <br>context here <br> context here <br>context here <br> context here <br> ...                
                        </div>
                    </div>
                    <div class="row col-12" style="text-align: end">
                            <!-- post link here -->
                            <a href="#">Continue reading</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 nopadding-left-card">
                <!-- hot topic col2 -->
                <div class="row-auto card box-shadow">
                        <div class="row col-12">
                        <!--title here -->
                        title here
                    </div>
                    <div class="row col-12">
                        <!-- sub title here -->
                        sub title here
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <!-- img here -->
                            <img class="img-thumbnail d-md-block" style="" src="public/indexLogo.png" >
                        </div>
                        <div class="col-6">
                            <!-- context here -->    
                            this is context area <br> context here <br> context here <br> ...                
                        </div>
                    </div>
                    <div class="row col-12">
                        <!-- post link here -->
                        <a href="#">Continue reading</a>
                    </div>
                </div>
            </div>    
            <!-- hot topic row end -->
        </div>
        <div class="row align-content-center margin-maindiv">
            <!-- new topic row start -->
            <div class="row col-12">
                <h1><a class="font-weight-bold" href="#">New Topic</a> </h1>
            </div>
            <div class="col-12 col-md-6 nopadding-left-card">
                <!-- new topic col1 -->
                <div class="row-auto card box-shadow">
                    <div class="row col-12">
                        <!--title here -->
                        title here
                    </div>
                    <div class="row col-12">
                        <!-- sub title here -->
                        sub title here
                    </div>
                    <div class="row">
                        <div class="col-6 media">
                            <!-- img here -->
                            <img class="img-thumbnail img-responsive d-md-block" style="" src="public/indexLogo.png" >
                        </div>
                        <div class="col-6">
                            <!-- context here -->    
                            this is context area <br> context here <br> context here <br>context here <br> context here <br>context here <br> context here <br> ...                
                        </div>
                    </div>
                    <div class="row col-12" style="text-align: end">
                            <!-- post link here -->
                            <a href="#">Continue reading</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 nopadding-left-card">
                <!-- new topic col2 -->
                <div class="row-auto card box-shadow">
                    <div class="row col-12">
                        <!--title here -->
                        title here
                    </div>
                    <div class="row col-12">
                        <!-- sub title here -->
                        sub title here
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <!-- img here -->
                            <img class="img-thumbnail d-md-block" style="" src="public/indexLogo.png" >
                        </div>
                        <div class="col-6">
                            <!-- context here -->    
                            this is context area <br> context here <br> context here <br> ...                
                        </div>
                    </div>
                    <div class="row col-12">
                        <!-- post link here -->
                        <a href="#">Continue reading</a>
                    </div>
                </div>
            </div>    
            <!-- new topic row end -->
        </div>        
    </nav>
    <% include rightnavbar %>
</div>

<%include footer%>	
</html>