<script>
    function goToAbout(){
        document.location.href='/about';
    }
    function goToMain(){
        document.location.href='/';
    }
    function goToBlog(){
        document.location.href='/blogList';
    }
</script>
<nav style="align-content: center;width: 100%;margin-bottom: 1%">
    <img class="img-fluid" style="width: fit-content" src="public/indexLogo.png" onclick="goToMain()"/>

    <div class="container d-flex justify-content-center" style="width: 100%;padding: 0%" >

        <button type="button" onclick="goToAbout()" class="btn btn-info btn-block " style="margin: 0%;margin-right: 1%;width: 24.25%;float: left ">About</button>
        <button type="button" onclick="goToAbout()" class="btn btn-info btn-block  " style="margin: 0%;margin-right: 1%;width: 24.25%;float: left ">Code</button>
        <button type="button" onclick="goToBlog()" class="btn btn-info btn-block  " style="margin: 0%;margin-right: 1%;width: 24.25%;float: left ">Blog</button>
        <button type="button" onclick="goToAbout()" class="btn btn-info btn-block  " style="margin: 0%;width: 24.25%;float: left ">stuff</button>
    </div>

</nav>