<nav class="container align-content-center " style="float: right; align-content: right; width: 24%; height: 1500px;background-color: #f7f7f7">
<!-- right nav -->
    <div class="align-content-center row ">
        <div class="col-auto" style="text-align: center">

            Total visit
        </div>
        <div class="col-auto align-content-center" align="center" style="max-height:50px;" >
            <picture>
                <source media="(min-width:65em)" srcset="public/number/number0.png">
                <!--<source srcset="public/number/number1.png">-->
                <img src="public/number/th_number1.png" class="img-thumbnail" style="max-height: 50px;height: auto;width: auto">
            </picture>
            <picture>
                <source media="(min-width:65em)" srcset="public/number/number0.png">
                <!--<source srcset="public/number/number1.png">-->
                <img src="public/number/th_number1.png" class="img-thumbnail" style="max-height: 50px;height: auto;width: auto">
            </picture>
            <picture>
                <source media="(min-width:65em)" srcset="public/number/number0.png">
                <!--<source srcset="public/number/number1.png">-->
                <img src="public/number/th_number1.png" class="img-thumbnail" style="max-height: 50px;height: auto;width: auto">
            </picture>
            <picture>
                <source media="(min-width:65em)" srcset="public/number/number0.png">
                <!--<source srcset="public/number/number1.png">-->
                <img src="public/number/th_number1.png" class="img-thumbnail" style="max-height: 50px;height: auto;width: auto">
            </picture>
            <picture>
                <source media="(min-width:65em)" srcset="public/number/number0.png">
                <!--<source srcset="public/number/number1.png">-->
                <img src="public/number/th_number1.png" class="img-thumbnail" style="max-height: 50px;height: auto;width: auto">
            </picture>
        </div>
    </div>
</nav>