<!DOCTYPE html>
<html lang="en">
<% include header %>
<body class="container align-content-center" style="background-color: #ebe7e7">
<%include navbar %>
<div class="row">
    <nav class="col-lg-9 col-md-12 container align-content-center lesspadding-right-mainnav " style="" id="mainNav">
        <div class="row align-content-center margin-maindiv">
           <!-- main content start inside of this line --> 
        </div>        
    </nav>
    <% include rightnavbar %>
</div>
<%include footer%>	
</html>