<!DOCTYPE html>
<html lang="en">
<% include header %>
<body class="container align-content-center" style="background-color: #ebe7e7">
<%include navbar %>
<div class="row">
    <nav class="col-lg-9 com-md-12 container align-content-center lesspadding-right-mainnav " style="" id="mainNav">
        <div class="row">
            <div class="col-12 align-conten-center">
            <video src="" id="video" style="width:320px;height:240px" autoplay='true'>

            </video>
            <canvas id="preview" style="visibility:collapse">
                
                <div id='logger'>
        
                </div> 
            </canvas>
            <div>
                <input type="text" id="text_userId">
                <input type="checkbox" value="record" id="chkbox_record">
            </div>
            <div>
                <img id="resultPic"><br>
                <div id="div_choose" style="visibility:collapse">
                    <input type="button" value="OK" id="btn_okay"><input type="button" value="NO" id="btn_no">
                </div>
                
            </div>
            <script src="/socket.io/socket.io.js"></script>
            <script type="text/javascript">
            
                var canvas = document.getElementById("preview");
                var context = canvas.getContext("2d");
                canvas.width = context.width = 320; canvas.height = context.height = 240;
                var video = document.getElementById("video");
                var containerImg;
                var resultPic = document.getElementById('resultPic');
        
                var chkbox_record = document.getElementById('chkbox_record');
                var div_choose = document.getElementById('div_choose');
                var btn_okay = document.getElementById('btn_okay');
                var btn_no = document.getElementById('btn_no');
                var bReadyForNext = false;
                
                var userId;
                var interval;
                var socket = io();
                socket.on('stream',(bSuccess,images)=>{
                    clearInterval(interval);
                    console.log('receive');
                    if(bSuccess){
                        resultPic.src = images;
                        bReadyForNext=false;
                        setIntervalManually();
                        div_choose.style.visibility='visible';
                    }else{
                        bReadyForNext=true;
                        setIntervalManually();
                        div_choose.style.visibility='collapse';
                    }
                });
        
                btn_okay.onclick=()=>{
                    console.log('click okay');
                    div_choose.style.visibility='collapse';
                    bReadyForNext=true;
                    setIntervalManually();
                    socket.emit('uploadMyImage',containerImg,userId); 
                }
                btn_no.onclick=()=>{
                    console.log('click no');
                    div_choose.style.visibility='collapse';
                    bReadyForNext=true;
                    setIntervalManually();
                }
                function initializer(){ //웹캠 사용가능여부, 활성화
                    navigator.getUserMedia  = navigator.getUserMedia ||
                                  navigator.webkitGetUserMedia ||
                                  navigator.mozGetUserMedia ||
                                  navigator.msGetUserMedia;
                    if(navigator.getUserMedia){
                        navigator.getUserMedia({video: true},loadcam,loadfail);
                    }
                }
                initializer();
                chkbox_record.onclick = ()=>{
                    userId = document.getElementById('text_userId').value;
                    console.log(chkbox_record.checked);
                    bReadyForNext = chkbox_record.checked;
                    setIntervalManually();
                };
                function setIntervalManually(){
                   if(bReadyForNext){
                        interval = setInterval(()=>{
                            //socket.emit('send');
                            viewVideo();
                        },1000);
        
                    }else{
                        
                        clearInterval(interval);
                    } 
                }
                
                function loadcam(stream){   //웹캠 활성화
                    video.src = window.URL.createObjectURL(stream);
                    console.log('cam loaded')
                }
                function loadfail(){    //웹캠 활성화 실패
                    console.log('cam load failed')
                }
                function viewVideo(){
                    context.drawImage(video,0,0,context.width,context.height);
                    containerImg = canvas.toDataURL('image/webp')
                    socket.emit('stream',containerImg);
                    //context.clearRect(0, 0, context.width, context.height);
                    console.log('hello');
                }
                
            </script>
            </div>
        </div>
    </nav>
    <% include rightnavbar %>
</div>
<%include footer%>	
</html>