.lesspadding{
    padding: 1rem;
}
.lesspadding-left{

    padding: 0rem;
    padding-left: 1rem;
}
.lesspadding-right{
    padding: 0rem;
    padding-right: 1rem;  
}
.lesspadding-postContext{
    padding: 2rem;
}
.lesspadding-right-mainnav{
    padding: 0rem;
    
    padding-right: 1rem;  
    background-clip: content-box;
    background-color: #ffffff;
}
.lesspadding-top{
    padding: 0em;
    padding-top: 1rem;
}
.lesspadding-top-footer{
    padding: 0rem;
    padding-top: 0.5rem;
    background-clip: content-box;
    background-color: #9fcdff
}
.nopadding{
    padding: 0rem;
}
.nopadding-left{
    padding-left:0rem;
}
.nopadding-left-card{
    padding-right: 0.1rem;
    padding-left:0rem;
}
.margin-maindiv{
    margin-left:0.5rem;
    margin-right:0.5rem;
}

.col-centered{
    text-align: center;
    display: inline-block;
}
.margin-heavy-context{
    margin:3rem;
}
.margin-heavy-topbottom{
    margin-top:3rem;
    margin-bottom:3rem;
}
.title-style{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.clickable {
    cursor: pointer;
}


.modal-backdrop {
    z-index: -1;
  }
.form-height-3{
    height: 3rem !important;
}

  