.lesspadding{
    padding: 1rem;
}
.lesspadding-left{

    padding: 0rem;
    padding-left: 1rem;
}
.lesspadding-right{
    padding: 0rem;
    padding-right: 1rem;  
}
.lesspadding-postContext{
    padding: 2rem;
}
.lesspadding-right-mainnav{
    padding: 0rem;
    
    padding-right: 1rem;  
    background-clip: content-box;
    background-color: #ffffff;
}
.lesspadding-top{
    padding: 0em;
    padding-top: 1rem;
}
.lesspadding-top-footer{
    padding: 0rem;
    padding-top: 0.5rem;
    background-clip: content-box;
    background-color: #ebe7e7f5;
}
.lesspadding-bottom{
    padding: 0em;
    padding-bottom: 1rem;
}
.nopadding{
    padding: 0rem;
}
.nopadding-left{
    padding-left:0rem;
}
.nopadding-right{
    padding-right:0rem;
}
.nopadding-left-card{
    padding-right: 0.1rem;
    padding-left:0rem;
}
.margin-maindiv{
    margin-left:0.5rem;
    margin-right:0.5rem;
}

.col-centered{
    text-align: center;
    display: inline-block;
}
.margin-light-topbottom{
    margin-top:1rem;
    margin-bottom:1rem;
}
.margin-light-bottom{
    margin-bottom:1rem;
}
.margin-heavy-context{
    margin:3rem;
}
.margin-heavy-topbottom{
    margin-top:3rem;
    margin-bottom:3rem;
}
.no-margin{
    margin : 0px;
}
.title-style{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.clickable {
    cursor: pointer;
}


.modal-backdrop {
    z-index: -1;
  }
.form-height-3{
    height: 3rem !important;
}
.col-md-12-mainNav{
    padding: 0rem;
}
.testbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15% 32.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.border-topic-bottom{
    border-bottom: solid #fafafa;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}
.margin-card {
    border-right: solid #dadada;
    margin-right: 0%;
}
@media(max-width:767px){
    .margin-card {
        border-right: hidden;
    }
    .border-topic-bottom{
        border-bottom: hidden;
    }
}

.input-red{
    border: 1px solid red;
}
.input-green{
    border: 1px solid green;
}
.btn-nav{
    color:#000000;
    background-color: #d0d0d0c4;
}