
<script>
    const faceAuthMain = {div:{},btn:{}};
    let info_update_video;
    let isCameraReady = false;
    let isToggleUpdateEnabled = false;
    $(function(){
        $(document).ready(()=>{
            faceAuthMain.div.update = $('#divUpdateFaceMenu'); 
            faceAuthMain.div.regist = $('#divRegustFaceMenu'); 
            faceAuthMain.btn.update = $('#btn_updateFaceAuth');
            faceAuthMain.btn.regist = $('#btn_registFaceAuth');
            faceAuthMain.btn.updateToggle = $('#btn_toggleUpdate');
        });

        $.fn.initMenuInfoUpdate = ()=>{
            info_update_video = document.getElementById('face_update_video');
            $('#face_update_video')[0].style.width = "320px";
            $('#face_update_video')[0].style.height = "240px";
            isCameraReady = $(this).initCam(info_update_video);

        };

        $.fn.btnColorChanger = (target,isSelected)=>{
            switch(target){
                case _BTN.NAME.UPDATE : {
                    isSelected ? (
                        faceAuthMain.btn.regist[0].classList.contains(_BTN.COLOR.CYAN) ?
                            faceAuthMain.btn.regist[0].classList.remove(_BTN.COLOR.CYAN) : null ,
                        faceAuthMain.btn.update[0].classList.add(_BTN.COLOR.CYAN)
                    ) : (
                        faceAuthMain.btn.update[0].classList.contains(_BTN.COLOR.CYAN) ? 
                            faceAuthMain.btn.update[0].classList.remove(_BTN.COLOR.CYAN) : null
                    );
                    $(this).initMenuInfoUpdate();
                    break;
                }
                case _BTN.NAME.REGIST : {
                    isSelected ? (
                        faceAuthMain.btn.update[0].classList.contains(_BTN.COLOR.CYAN) ?
                            faceAuthMain.btn.update[0].classList.remove(_BTN.COLOR.CYAN) : null ,
                        faceAuthMain.btn.regist[0].classList.add(_BTN.COLOR.CYAN)
                    ) : (
                        faceAuthMain.btn.regist[0].classList.contains(_BTN.COLOR.CYAN) ? 
                            faceAuthMain.btn.regist[0].classList.remove(_BTN.COLOR.CYAN) : null
                    );
                    break;
                }
                case _BTN.NAME.TOGGLE_UPDATE : {
                    const updateBtnList = document.getElementById(_BTN.NAME.TOGGLE_UPDATE).classList;
                    updateBtnList.contains(_BTN.COLOR.RED) ? (isSelected ? null : updateBtnList.remove(_BTN.COLOR.RED) ) : updateBtnList.add(_BTN.COLOR.RED);
                    break;
                }
                default : {
                    console.log(`selected arg[0] ${target} is not defined yet`);
                    break;
                }
            }
        }

        $(this).on('click',(event)=>{
            switch(event.target.id){
                case _BTN.NAME.UPDATE : { 
                    faceAuthMain.div.update.show();
                    $(this).btnColorChanger(event.target.id,true);
                    faceAuthMain.div.regist.hide();
                    break;
                }
                case _BTN.NAME.REGIST : { 
                    faceAuthMain.div.regist.show();
                    $(this).btnColorChanger(event.target.id,true);
                    faceAuthMain.div.update.hide();
                    break;
                }
                case _BTN.NAME.TOGGLE_UPDATE : {
                    if(!isToggleUpdateEnabled){
                        if(!isCameraReady){
                            isCameraReady = $(this).initCam(info_update_video);
                        }
                        isToggleUpdateEnabled = true;
                        alertSetting(_ALERT.TYPE.FACEAPPEND,true,_ALERT.STATUS.INFO,_MSG.UPDATEFACE,document.getElementById('alert_registFace'),document.getElementById('InfoAlert_registAccount_message'));
                        //permission is grant and ready for append face auth.
                        // TO-DO : ajax call for append face auth.
                        $(this).btnColorChanger(event.target.id,true)
                    }else{
                        $(this).killCam();
                        isToggleUpdateEnabled = false;
                        $(this).btnColorChanger(event.target.id,false)
                        alertSetting(_ALERT.TYPE.FACEAPPEND,true,_ALERT.STATUS.INFO,_MSG.UPDATESTOPPED,document.getElementById('alert_registFace'),document.getElementById('InfoAlert_registAccount_message'));
                    }
                    
                    
                    break;
                }
                default : {
                    console.log(`selected arg[0] ${event.target.id} is not defined yet`);
                    break;
                }
            }
        });
    });
</script>

<div class=" col-12 ">
    <div class="row align-content-center">
        <div class="col-12  align-content-center margin-light-topbottom margin-ex-light-bottom">
            <input type="button" class="btn btn-light" value="testbtn1" id="btn_updateFaceAuth"/>
            <input type="button" class="btn btn-light" value="testBtn2" id="btn_registFaceAuth"/>
            <hr class="hr less_hr"/>
        </div>
        
        <div class="col-12  align-content-center" id="divUpdateFaceMenu">
            
            1번 div ( update face)
            <div class="row col-12 alert alert-success no-margin" role="alert" id="alert_registFace">
                <p class="text-center col-12" id="InfoAlert_registAccount_message">Face on to camera, press update button below</p>
                
            </div>
            <div class="row col-12">
                <div class="col-lg-6 offset-lg-2 col-6 offset-3">
                    <video class="userCapImage" src="" id="face_update_video" autoplay='true'></video>    
                </div>
                
            </div>
            <div class="col-8 offset-2 ">
                <input type="button" class="btn btn-light col align-self-center" value="update!" id="btn_toggleUpdate"/>
            </div>
        </div>
        <div class="col-12  align-content-center" id="divRegustFaceMenu">

            2번 div ( regist face)    
            <div class="row col-12 alert alert-success no-margin" role="alert" id="alert_registFace">
                <p class="text-center col-12" id="InfoAlert_registAccount_message">Hello world! this is instruction text context.Hello world! this is instruction text context.Hello world! this is instruction text context.Hello world! this is instruction text context.</p>
                
            </div>
            <div class="row col-12">
                <div class="col-lg-6 offset-lg-2 col-6 offset-3">
                    <video class="userCapImage" src="" id="face_update_video" autoplay='true'></video>    
                </div>
                
            </div>

            
        </div>
    </div>
</div>